{% load jstemplate %}
{% load compress %}
{% load i18n %}
{% load url from future %}
{% load shareabouts_utils %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE7">

  <title>Stomping Ground</title>

  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}css/images/favicon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}css/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}css/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}css/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}css/images/apple-touch-icon.png">

  <!-- Legacy HTML5 & Media Queries -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
  <![endif]-->

  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">

  <!-- Google Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700|Chelsea+Market' rel='stylesheet' type='text/css'>

</head>
<body>
  <script id="comment-form-tpl" type="text/html">
    <form id="comment-form">
      <textarea id="comment" placeholder="Add your comment..." required></textarea>
      <div>
        <a href="#" id="cancel-comment">cancel</a>
        <button id="save-comment">Save</button>
      </div>
    </form>
  </script>

	<header id="branding" role="banner">
		<hgroup>
		  <h1 id="site-title">Stomping Ground</h1>
			<h2 id="site-description">Share something something about your walk&hellip;</h2>
		</hgroup>
  </header>

  <div id="map"></div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js "></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10/ICanHaz.min.js"></script>
  <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
  <script src="{{ STATIC_URL }}lib/Leaflet.Bing.js"></script>
  <script src="{{ STATIC_URL }}js/utils.js"></script>
  <script src="{{ STATIC_URL }}js/models.js"></script>
  <script src="{{ STATIC_URL }}js/views/layer-view.js"></script>
  <script src="{{ STATIC_URL }}js/views/map-view.js"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>
