<form id="comment-form" class="clearfix">
  <textarea id="comment" placeholder="My comment..." maxlength="140" required></textarea>
  <div>
    <a href="#" id="cancel-comment">cancel</a>
    <button id="save-comment" class="btn">Save</button>
  </div>
</form>
