/* =Header
-------------------------------------------------------------- */

#branding {
  height: 4.5em;
  position: relative;
  z-index: 200;
  padding: 0 10px;
  margin: 0 0 20px 0;
  background: #fff;
  box-shadow: 0px 0 5px rgba(0,0,0,0.2);
}
#site-marquee {
  float: left;
  max-width: 80%;
}
#site-title {
  font-family: 'Changa One', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0.25em 0 0;
}
#site-description {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* =Maps List
-------------------------------------------------------------- */

.maps-list {
  list-style: none;
  margin: 0;
}
.maps-list-item {}
.maps-list-item .well {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: 0;
  border-radius: 6px;
}
.maps-list-item .well:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.map-permalink {
  display: block;
  margin: 0 0 10px;
}
.map-permalink:hover {
  text-decoration: none;
}
.map-thumbnail {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 5px;
}
.map-permalink:hover .map-thumbnail {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.maps-list-item-meta {
  display: block;
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}
.maps-list-item-meta .title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* =The Map
-------------------------------------------------------------- */

#map {
  position: absolute;
  top: 4.5em;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.view #map {
  left: 300px;
}

.view #comments {
  position: absolute;
  top: 5em;
  left: 0;
  bottom: 0;
  right: 300px;
}

.edit #comments {
  display:none;
}

.tooltip {
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  width: 22em;
}
.tooltip-inner {
  max-width: 22em;
  padding: 0.75em 1em;
  color: #ffffff;
  background-color: #333;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.tooltip.right .tooltip-arrow {
  margin-top: -15px;
  border-right-color: #333;
  border-width: 15px 15px 15px 0;
}
.tooltip.left .tooltip-arrow {
  margin-top: -15px;
  border-left-color: #333;
  border-width: 15px 0 15px 15px;
}

ul#control-markers {
  position: fixed;
  top: 105px;
  left: -10px;
  z-index: 1040;
  margin: 5em 0 0;
  padding: 5px 0 5px 10px;
  list-style-type: none;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

ul#control-markers li {
  padding: 5px 5px 0 5px;
  position: relative;
}
ul#control-markers li div {
  cursor: pointer;
  padding: 0 !important; /* this is important! */
}

ul#control-markers li img {
                  transition: transform 0.2s;
        -moz-transition: -moz-transform 0.2s; /* Firefox 4 */
  -webkit-transition: -webkit-transform 0.2s; /* Safari and Chrome */
            -o-transition: -o-transform 0.2s; /* Opera */
}
ul#control-markers li img:hover {
          transform: rotate(15deg);
      -ms-transform: rotate(15deg); /* IE 9 */
     -moz-transform: rotate(15deg); /* Firefox */
  -webkit-transform: rotate(15deg); /* Safari and Chrome */
       -o-transform: rotate(15deg); /* Opera */
}
.control-marker-good:hover:after,
.control-marker-bad:hover:after,
.control-marker-comment:hover:after {
  display: block;
  content: "\0020";
  position: absolute;
  top: -8px;
  left: 100%;
  background: rgba(255,255,230,0.92);
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  white-space: nowrap;
  margin-left: -15px;
  padding: 0.25em 0.5em;
  z-index: 5000;
}
.control-marker-good:hover:after {
  content: "Stick on nice-to-walk places.";
}
.control-marker-bad:hover:after {
  content: "Stick on bad-to-walk places.";
}
.control-marker-comment:hover:after {
  content: "Add comments to your map.";
}

#control-markers-trash {
  position: absolute;
  right: -10px;
  bottom: 2em;
  height: 85px;
  width: 85px;
  background: white url(../img/trash.png) left top no-repeat scroll;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#control-markers-trash.hover {
  background-position: left bottom;
}

div#finalize-button-wrapper {
  position: absolute;
  top: 1em;
  right: 10px;
  z-index: 2;
  display: none;
}


/* =The Modal
-------------------------------------------------------------- */

.modal {
  width: 80%;
  margin-left: -40%;
}
.modal-footer .btn-large {
  margin-left: 20px;
}

#suppress-intro-modal {
  float: left;
}

#intro-modal .modal-header,
#finalization-modal .modal-header {
/*  min-height: 1.25em;*/
  display: none;
}

#finalization-modal .modal-body {
  height: 18em;
  overflow-y: auto;
}

#finalization-modal .carousel {
  margin: 0;
}

#finalization-modal .progress {
  margin-top: 2em;
  display: none;
}
#finalization-cancel {
  color: DeepPink;
}

input[name="map-title"] {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  font-size: 1.5em;
	width: 100%;
	height: 40px;
}

.marker-legend {
  list-style: none;
  margin: 0;
  padding: 0 0 0.375em;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.25;
}
.marker-legend li {
  padding: 0.5em 0 0.25em;
}
.marker-legend img {
  float: left;
  margin: -0.375em 10px 0 0;
}

.thanks-modal p {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.thanks-modal img {
  position: relative;
  top: 0.15px;
  left: 0.25em;
}

.modal.small-modal {
  width: 240px;
  margin-left: -120px;
}

.leaflet-popup-content {
  margin: 20px;
}


/* =Comments
-------------------------------------------------------------- */

#comment-form {}
#comment { margin-bottom: 0.75em; font-size: 1.5em; height: 5em; }
#cancel-comment { float: left; color: DeepPink; text-transform: uppercase; }
#save-comment { float: right; }


/* =Bootstrap Overrides
-------------------------------------------------------------- */

.hero-unit {
  background: transparent;
  padding: 20px 0;
  font-size: 24px;
  line-height: 2;
}

/* not really bootstrap, but adds to its styles */
.btn-block-hero {
  line-height: 2;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {

  .maps-list {
    margin-right: -5px;
    margin-left: -5px;
  }
  .maps-list-item {
    float: left;
    width: 50%;
    padding: 5px;
  	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
  	        box-sizing: border-box;
  }

}

@media only screen and (min-width: 768px) {

  .hero-unit {
    float: left;
    width: 526px;
    margin: 5px 5px 0 0;
  	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
  	        box-sizing: border-box;
  }
  .btn-block-hero {
    margin-top: 30px;
    max-width: 23em;
  }

  .maps-list-item {
    /* 240 (image) + 10 (li padding) + 18 (.well padding) */
    width: 268px;
  }

}

@media only screen and (min-width: 1024px) {

  .modal {
    width: 760px;
    margin-left: -380px;
  }

}

@media only screen and (min-width: 1300px) {

}

/* double image resolution for retina displays */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}
